::selection {
  color: white;
  background-color: rgba(0, 0, 255, 0.99);
}

body {
  --primary: black;
  --secondary: white;
  --third: black;
  --font-family: serif;
  --font-size: 20px;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--secondary);
  background: black;
  height: 100vh;
}

p {
  margin: 0;
}

a, a:visited {
  color: var(--secondary);
  text-decoration: none;
  border-bottom: 2px solid blue;
}

a:hover {
  border-bottom: 100px solid blue;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

img, video {
  max-width: 400px;
  width: 100%;
}

.flex {
  display: flex;
}

.rounded {
  border-radius: 20px;
}

.year {
  display: table;
  margin: 1em 0 0 0;
  font-size: 2em;
}

.proj {
  margin: 0.5em 0em;
}

.proj[data-url] {
  cursor: pointer;
}

.left *:not(img):not(video) {
  padding: 0.2em;
  border-radius: 100px;
  box-shadow: 0 0 0.1em var(--secondary);
  transition: color 400ms ease-in-out;
}

.left .up, .left .down, .right {
  margin: 0.5em;
  box-shadow: 0 0 0.1em var(--secondary);
  border-radius: 0.75em;
  overflow: hidden;
}

.left .up, .left .down {
  max-width: 375px;
  margin: 0.5em 0 0.5em 0.5em;
}

.left .down {
  margin: 0 0 0.5em 0.5em;
}

.right {
  flex: 1;
}

#right {
  display: none;
}

.left {
  display: flex;
  flex-flow: column nowrap;
  max-height: 100vh;
}

.left .up {
  flex: 1;
  overflow: scroll;
}

.left .down {}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
}

.proj h2 {
  display: table;
  margin: 0;
  font-size: 0.8em;
  /* text-transform: uppercase; */
  /* text-align: center; */
  font-weight: 400;
  font-family: 'Arial';
}

.proj > * {
  /* display: none; */
  margin: 0.25em 0;
}

.proj.show, .proj.show * {
  /* color: black;
  background: white; */
  box-shadow: 0 0 5em blue;
}

.title {
  margin: 0 0 0 0;
  color: var(--secondary);
}

#c {
  display: none;
  position: fixed;
  max-width: 375px;
}

.ui {
  position: absolute;
  top: 0;
  right: 0;
}

.switch {
  width: 3em;
  height: 1.25em;
  border-radius: 100px;
  cursor: pointer;
}

.switch:hover {
  background: var(--secondary);
}

.switch.active {
  background: var(--secondary);
}

@media screen and (max-width: 450px) {
  body {
    font-size: 18px;
  }
  
  .left .up, .left .down {
    max-width: none;
    margin: 0.5em;
  }

  .left .down {
    margin: 0 0.5em 0.5em 0.5em;
  }

  #right {
    display: none !important;
  }
}