body {
  max-width: 600px;
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  color: black;
  background: white;
}

p {
  margin: 0;
}

a, a:visited {
  color: blue;
}

ul {
  padding: 0;
  margin: 1em 0;
}

li {
  list-style-type: none;
}

img, video {
  max-width: 400px;
  width: 100%;
}

.flex {
  display: flex;
}

.proj {
  margin: 0.5em 0em;
  padding: 1em;
  border: 1px solid black;
  cursor: pointer;
}

.proj.show {
  box-shadow: 1em 1em 1em rgba(0, 0, 255, 1);
}

.proj h2 {
  display: block;
  font-size: 2em;
  font-weight: 400;
}

.proj > * {
  display: none;
  margin: 0.5em 0;
}

.show > * {
  display: block;
}

#conrad {
  display: none;
  position: absolute;
  max-width: 400px;
}

@media screen and (max-width: 450px) {
  body {
    font-size: 20px;
  }
}